langchain
openai
python-dotenv
chromadb
tiktoken
pypdf
pandas
numpy
scipy
matplotlib
scikit-learn
transformers
torch
tqdm
beautifulsoup4
requests
fastapi
uvicorn
pydantic
llama-index
docx2txt
PyMuPDF
langchain-huggingface
sentence-transformers
pytesseract
Pillow
